<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MSRIT</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/ramaiah.png') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="navbar" id="myNavbar">
          <a>
            <img
              src="{{ url_for('static', filename='images/ramaiah.png') }}"
              alt="logo"
            />
          </a>
          <a href="/admin/home/pending-applications">Pending appls</a>
          <a href="/admin/processed-applications" class="active"
            >Processed appls</a
          >
          <a href="/admin/logout" class="navbar-logout">Log out</a>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()"
            >&#9776;</a
          >
        </div>
      </nav>
    </header>
    <main>
      {% include "flash_messages.html" %}
      <div class="product-details">
        <div class="product-container">
          <div class="product-info">
            <h1>Application Number: {{dictt['application_id']}}</h1>
            <div class="product-specs">
              <table>
                <tr>
                  <th>Applicant Name</th>
                  <td>{{dictt['applicant_name']}}</td>
                </tr>
                <tr>
                  <th>Applicant Department</th>
                  <td>{{dictt['applicant_dept']}}</td>
                </tr>
                <tr>
                  <th>Paper Title</th>
                  <td>{{dictt['paper_title']}}</td>
                </tr>
                <tr>
                  <th>Journal Name</th>
                  <td>{{dictt['journal_name']}}</td>
                </tr>
                <tr>
                  <th>SJR Website Link</th>
                  <td>{{dictt['sjr_website_link']}}</td>
                </tr>
                <tr>
                  <th>Publication Month</th>
                  <td>{{dictt['publication_month']}}</td>
                </tr>
                <tr>
                  <th>DOI</th>
                  <td>{{dictt['doi']}}</td>
                </tr>
                <tr>
                  <th>Journal Category</th>
                  <td>{{dictt['journal_category']}}</td>
                </tr>
                <tr>
                  <th>Coverage From</th>
                  <td>{{dictt['coverage_from']}}</td>
                </tr>
                <tr>
                  <th>Coverage To</th>
                  <td>{{dictt['coverage_to']}}</td>
                </tr>
                <tr>
                  <th>First Author Name</th>
                  <td>{{dictt['first_author_name']}}</td>
                </tr>
                <tr>
                  <th>First Author Category</th>
                  <td>{{dictt['first_author_category']}}</td>
                </tr>
                <tr>
                  <th>Second Author Name</th>
                  <td>{{dictt['second_author_name']}}</td>
                </tr>
                <tr>
                  <th>Second Author Category</th>
                  <td>{{dictt['second_author_category']}}</td>
                </tr>
                <tr>
                  <th>Third Author Name</th>
                  <td>{{dictt['third_author_name']}}</td>
                </tr>
                <tr>
                  <th>Third Author Category</th>
                  <td>{{dictt['third_author_category']}}</td>
                </tr>
                <tr>
                  <th>Published Paper PDF</th>
                  <td>
                    <a
                      href="{{ url_for('download_pdf', filename=filename) }}"
                      download
                    >
                      Download PDF
                    </a>
                    <span style="margin-right: 20px"></span>
                    <a
                      href="{{ url_for('download_pdf', filename=filename) }}"
                      target="_blank"
                    >
                      Open PDF
                    </a>
                  </td>
                </tr>
              </table>
              {%if dictt['status'] == 'Processed' %} {%if
              dictt['first_author_category'] or dictt['second_author_category']
              or dictt['third_author_category'] in ('Faculty', 'External')%}
              <h2>Incentive Amount:</h2>
              <table>
                {%if dictt['first_author_category'] in ('Faculty', 'External')%}
                <tr>
                  <th>First Author Incentive Amount</th>
                  <td>{{dictt['first_author_amount']}}</td>
                </tr>
                {%endif%} {%if dictt['second_author_category'] in ('Faculty',
                'External')%}
                <tr>
                  <th>Second Author Incentive Amount</th>
                  <td>{{dictt['second_author_amount']}}</td>
                </tr>
                {%endif%} {%if dictt['third_author_category'] in ('Faculty',
                'External')%}
                <tr>
                  <th>Third Author Incentive Amount</th>
                  <td>{{dictt['third_author_amount']}}</td>
                </tr>
                {%endif%}
              </table>
              {%endif%}
              <h2>Comments from Coordinator:</h2>
              <textarea name="comments" cols="80" disabled>
{{dictt['comments']}}
              </textarea>
              <p><b>Application Status: </b>{{dictt['status']}}</p>
              <table>
                <tr>
                  <th>Application Submitted Time</th>
                  <td>{{dictt['submitted_at']}}</td>
                </tr>
                <tr>
                  <th>Application Processed Time</th>
                  <td>{{dictt['processed_at']}}</td>
                </tr>
              </table>
              {%endif%}
            </div>
            <div class="product-add-to-cart">
              <a href="/admin/home/pending-applications">
                <button>Go Back</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; 2023 MSRIT</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
