<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MSRIT</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/ramaiah.png') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="navbar" id="myNavbar">
          <a class="nav-img">
            <img
              src="{{ url_for('static', filename='images/ramaiah.png') }}"
              alt="logo"
            />
          </a>
        </div>
      </nav>
    </header>
    <main>
      {% include "flash_messages.html" %}
      <form method="POST">
        <div class="message">
          <section class="container">
            <div class="row">
              <div class="vl">
                <span class="vl"></span>
              </div>
              <div class="col">
                <div class="message-logo">
                  <img
                    src="{{ url_for('static', filename='images/ramaiah.png') }}"
                    alt="Ramaiah logo"
                  />
                </div>
              </div>
              <div class="col">
                <h1>Change password</h1>
                <p>Enter your new password.</p>
                <div class="input_wrap">
                  <div class="input-icons">
                    <i class="fa fa-envelope icon"> </i>
                    <input
                      type="email"
                      placeholder=" "
                      value="{{user_email}}"
                      disabled
                    />
                    <label>Email</label>
                  </div>
                </div>
                <div class="input_wrap">
                  <div class="input-icons">
                    <i class="fas fa-lock icon"> </i>
                    <input
                      type="password"
                      class="password"
                      id="password"
                      minlength="8"
                      maxlength="30"
                      placeholder=" "
                      name="user_password"
                      required
                    />
                    <label>New Password</label>
                    <i
                      class="far fa-eye icon togglePassword"
                      style="margin-left: -50px; cursor: pointer"
                    ></i>
                  </div>
                </div>
                <div class="input_wrap">
                  <div class="input-icons">
                    <i class="fas fa-lock icon"> </i>
                    <input
                      type="password"
                      class="password"
                      id="confirm_password"
                      minlength="8"
                      maxlength="30"
                      placeholder=" "
                      name="user_password"
                      required
                    />
                    <label>Confirm Password</label>
                    <i
                      class="far fa-eye icon togglePassword"
                      style="margin-left: -50px; cursor: pointer"
                    ></i>
                  </div>
                </div>
                <input type="submit" value="Change Password" />
              </div>
            </div>
          </section>
        </div>
      </form>
    </main>
    <footer>
      <p>&copy; 2023 MSRIT</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
